p#notice = notice

h1 = @company.name
br
strong 登録者:
= @company.admin.name

h2 = link_to "アンケート一覧", company_surveys_path(company_id: @company.id)

br
h2 代表ユーザー
= @chief.name
h2 社員一覧
- @users.each do |user|
  = user.name
  br
br
= link_to '新規ユーザー登録', new_user_company_registration_path(:company_id => @company.id)
